@import 'tailwindcss';

/* Because Tailwind sometimes doesn't think devices with touch screens can hover */
@custom-variant hover (&:hover);

html, body {
    height: 100%;
}

/* Tailwind p-2 */
.markdown-recipe {
    padding: calc(var(--spacing) * 2);
}

/* Tailwind text-4xl */
.markdown-recipe h1 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
}

/* Tailwind text-2xl */
.markdown-recipe h2 {
    font-size: var(--text-2xl); /* 1.5rem (24px) */ 
    line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
}

/* Tailwind text-xl */
.markdown-recipe h3 {
    font-size: var(--text-xl); /* 1.25rem (20px) */ 
    line-height: var(--text-xl--line-height); /* calc(1.75 / 1.25) */
}

/* Tailwind px-2 */
.markdown-recipe p {
    padding: calc(var(--spacing) * 2) 0px; 
}

.markdown-recipe ol {
    list-style: decimal;
    margin-left: calc(var(--spacing) * 4);
}

/* Bracketed footnote refs */
.markdown-recipe sup a::before {
    content: '[';
}

.markdown-recipe sup a::after {
    content: ']';
}

/* Footnote sizing + custom counter setup */
.markdown-recipe [data-footnotes] > ol {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    margin-left: calc(var(--spacing) * 6);
    list-style: none;
    counter-reset: bracket-counter;
}

/* Footnote bracketed counter + indent fix */
.markdown-recipe [data-footnotes] > ol > li {
    text-indent: var(--spacing);
    counter-increment: bracket-counter;
}

.markdown-recipe [data-footnotes] > ol > li::marker {
    content: "[" counter(bracket-counter) "]";
}